### zigbang ì›ë£¸ ë§¤ë¬¼ ë°ì´í„° ìˆ˜ì§‘
- ì§€ì—­ì´ë¦„ > ë§¤ë¬¼ì •ë³´

In [1]:
import requests
import pandas as pd

In [2]:
# 1. ë™ì´ë¦„ > ìœ„ë„, ê²½ë„ 
# url encoding : https://meyerweb.com/eric/tools/dencoder/
## https://meyerweb.com/eric/tools/dencoder/ (Decoding)

In [3]:
address = "ë§ˆí¬êµ¬ ì„±ì‚°ë™"
url = f"https://apis.zigbang.com/v2/search?leaseYn=N&q={address}&serviceType=ì›ë£¸"
response = requests.get(url)
address_data = response.json()["items"][0]
lat, lng = address_data["lat"], address_data["lng"]
lat, lng

(37.56288146972656, 126.90928649902344)

In [4]:
# 2. ìœ„ë„,ê²½ë„ > geohash
# geohash2 ì„¤ì¹˜

In [5]:
# !pip install geohash2

In [6]:
!pip install geohash2
import geohash2

Requirement already satisfied: geohash2 in c:\programdata\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: docutils>=0.3 in c:\programdata\anaconda3\lib\site-packages (from geohash2) (0.17)

In [7]:
# precisionì´ ì‘ì•„ì§ˆìˆ˜ë¡ ë” ë„“ì€ ì˜ì—­ì„ ì˜ë¯¸
geohash = geohash2.encode(lat, lng, precision=5)
geohash

'wydjx'

In [8]:
# 3. geohash > item_ids

In [9]:
url = f"https://apis.zigbang.com/v2/items?deposit_gteq=0\
&domain=zigbang&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0\
&sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸"
response = requests.get(url)
response

In [10]:
datas = response.json()["items"]
item_ids = [data["item_id"] for data in datas]
len(item_ids), item_ids[:5]

(929, [28920629, 29242318, 29271364, 29269875, 29153115])

In [11]:
# list conprehention
ls = [1, 2, 3, 4, 5]
result = []
for data in ls:
    result.append(data**2)
result

[1, 4, 9, 16, 25]

In [12]:
result = [data**2 for data in ls if data % 2]
result

[1, 9, 25]

In [13]:
# 4. item_ids > item info : POST

In [14]:
url = "https://apis.zigbang.com/v2/items/list"
params = {
    "domain": "zigbang",
    "withCoalition": "true",
    "item_ids": item_ids,
}
reponse = requests.post(url, params)
reponse

In [15]:
pd.options.display.max_columns = 30

In [16]:
datas = reponse.json()["items"]
df = pd.DataFrame(datas)
df = df[["item_id", "sales_type", "deposit", "rent", "size_m2",
         "building_floor", "floor", "title", "address1"]]
df.tail(2)

,item_id,sales_type,deposit,rent,size_m2,building_floor,floor,title,address1
927,29271855,ì „ì„¸,28000,0,33.58,6,5,ğŸ”¶ğŸ”¶ë§ˆí¬ ì €ë ´í•˜ê³ ì „ë§ ì¢‹ì€ ë³µì¸µ ì“°ë¦¬ë£¸ğŸ”¶ğŸ”¶,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ì¤‘ë™
928,29312091,ì „ì„¸,28000,0,36.00,6,5,ğŸ’šì´ˆì—­ì„¸ê¶ŒğŸ’š ë³µì¸µêµ¬ì¡°ğŸ’š ë§‰í˜ ì—†ê³ ì±„ê´‘ GOODğŸ’š,ì„œìš¸ì‹œ ë§ˆí¬êµ¬ ì¤‘ë™

In [17]:
# í•¨ìˆ˜ë¡œ ë§Œë“¤ê¸°

In [27]:
def zigbang_oneroom(address):
    
    # 1. ë™ì´ë¦„ > ìœ„ë„, ê²½ë„
    url = f"https://apis.zigbang.com/v2/search?leaseYn=N&q={address}&serviceType=ì›ë£¸"
    response = requests.get(url)
    address_data = response.json()["items"][0]
    lat, lng = address_data["lat"], address_data["lng"]
    
    # 2. ìœ„ë„,ê²½ë„ > geohash
    geohash = geohash2.encode(lat, lng, precision=5)
    
    # 3. geohash > item_ids
    url = f"https://apis.zigbang.com/v2/items?deposit_gteq=0\
    &domain=zigbang&geohash={geohash}&needHasNoFiltered=true&rent_gteq=0\
    &sales_type_in=ì „ì„¸|ì›”ì„¸&service_type_eq=ì›ë£¸"
    response = requests.get(url)
    datas = response.json()["items"]
    item_ids = [data["item_id"] for data in datas]
    
    # 4. item_ids > item info : POST 
    url = "https://apis.zigbang.com/v2/items/list"
    params = {
        "domain": "zigbang",
        "withCoalition": "true",
        "item_ids": item_ids,
    }
    reponse = requests.post(url, params)
    datas = reponse.json()["items"]
    df = pd.DataFrame(datas)
    columns = ["item_id", "sales_type", "deposit", "rent", "size_m2", "building_floor", "floor", "title", "address1"]
    
    return df[columns]

In [29]:
address = "ê°œí¬ë™"
df = zigbang_oneroom(address)
df.tail(2)

,item_id,sales_type,deposit,rent,size_m2,building_floor,floor,title,address1
87,29206986,ì›”ì„¸,2000,110,35.80,5,3,ì»¨ë””ì…˜êµ¿ ê°€ê²©êµ¿ ë¹ ë¥¸ì…ì£¼ê°€ëŠ¥,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™
88,29090161,ì›”ì„¸,30000,60,46.49,4,4,ğŸ’ë°˜ì „ì„¸ ì‹ ì¶•ê¸‰ ì“°ë¦¬ë£¸ ê±°ì‹¤ì•„ì£¼ë„“ì€ğŸ’,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™

In [34]:
df

,item_id,sales_type,deposit,rent,size_m2,building_floor,floor,title,address1
0,29307792,ì›”ì„¸,1000,60,42.98,3,ì €,ì²­ê³„ì‚°ì…êµ¬ ì´ˆ ì—­ì„¸ê¶Œ ì˜¤í”¼ìŠ¤í…” ì‚¬ì—…ììš©,ì„œìš¸ì‹œ ì„œì´ˆêµ¬ ì‹ ì›ë™
1,29302254,ì „ì„¸,21000,0,59.50,5,ì €,ì²­ê³„ì‚°ì…êµ¬ ì´ˆ ì—­ì„¸ê¶Œ ê·€í•œ ì „ì„¸ë§¤ë¬¼,ì„œìš¸ì‹œ ì„œì´ˆêµ¬ ì‹ ì›ë™
2,29036802,ì›”ì„¸,2000,70,56.20,5,ê³,ì²­ê³„ì‚°ì…êµ¬ ì´ˆ ì—­ì„¸ê¶Œ ì‹ ì¶• ì˜¤í”¼ìŠ¤í…”,ì„œìš¸ì‹œ ì„œì´ˆêµ¬ ì‹ ì›ë™
3,29312374,ì „ì„¸,95000,0,105.79,3,1,ğŸ’’í…Œë¼ìŠ¤ ì†Œë‚˜ë¬´ìˆ² viewë¥¼ ëŠë¼ì„¸ìš”! ë§ˆì§€ë§‰ë§¤ë¬¼!!ğŸ’’,ì„œìš¸ì‹œ ì„œì´ˆêµ¬ ë‚´ê³¡ë™
4,29234305,ì›”ì„¸,20000,720,338.86,2,1,"â—€ì§‘ì½•/ì •ì›+í…Œë¼ìŠ¤â–¶ëŸ¬ë¸”ë¦¬â™¥ë‹¨ë…[4ë£¸4í™”]ì‹ í˜¼ë¶€ë¶€,ì‘ì—…ì‹¤",ì„œìš¸ì‹œ ì„œì´ˆêµ¬ ì—¼ê³¡ë™
...,...,...,...,...,...,...,...,...,...
84,29265347,ì›”ì„¸,70,70,39.67,6,ê³,ğŸ’›ì‹¤ê°€ê²©ğŸ§¡No.1ğŸ’šê°•ë‚¨ğŸ’œê°œí¬ë™ ìœ ì¼ ë‹¨ê¸°í’€ì˜µì…˜,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™
85,29292587,ì›”ì„¸,100,75,33.06,6,ê³,ì‚¼í˜¸ë¬¼ì‚° ì‚¬ê±°ë¦¬ í’€ì˜µì…˜ ë‹¨ê¸°ì›ë£¸,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™
86,29304153,ì›”ì„¸,21000,20,49.59,4,4,!!(ê¸‰ê¸‰ê¸‰)ê°œí¬ë™ ì‹ ì¶•ê¸‰ ê°€ì„±ë¹„ ìµœê°•ì˜ 2ë£¸ ë°˜ì „ì„¸!!,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™
87,29206986,ì›”ì„¸,2000,110,35.80,5,3,ì»¨ë””ì…˜êµ¿ ê°€ê²©êµ¿ ë¹ ë¥¸ì…ì£¼ê°€ëŠ¥,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™
88,29090161,ì›”ì„¸,30000,60,46.49,4,4,ğŸ’ë°˜ì „ì„¸ ì‹ ì¶•ê¸‰ ì“°ë¦¬ë£¸ ê±°ì‹¤ì•„ì£¼ë„“ì€ğŸ’,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™

In [40]:
filtered_df = df[df['address1'].str.contains("ê°œí¬ë™")] ##trueì¸ ë°ì´í„°ë§Œ í•„í„°ë§
filtered_df = filtered_df.reset_index(drop=True)
filtered_df.tail(2)

,item_id,sales_type,deposit,rent,size_m2,building_floor,floor,title,address1
38,29206986,ì›”ì„¸,2000,110,35.80,5,3,ì»¨ë””ì…˜êµ¿ ê°€ê²©êµ¿ ë¹ ë¥¸ì…ì£¼ê°€ëŠ¥,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™
39,29090161,ì›”ì„¸,30000,60,46.49,4,4,ğŸ’ë°˜ì „ì„¸ ì‹ ì¶•ê¸‰ ì“°ë¦¬ë£¸ ê±°ì‹¤ì•„ì£¼ë„“ì€ğŸ’,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™

In [ ]:
# ë³´ì¦ê¸ˆ : 5000 ì´í•˜, ë ŒíŠ¸ë¹„ : 80 ì´í•˜

In [49]:
# filtered_df.dtypes
result_df = filtered_df[
    (filtered_df['deposit'] <= 5000) & (filtered_df['rent'] <= 80)
]

result_df.tail()

,item_id,sales_type,deposit,rent,size_m2,building_floor,floor,title,address1
23,29291711,ì›”ì„¸,3000,80,26.70,5,2,â˜â˜ ì‹ ì¶• í’€ì˜µì…˜ ë„“ìœ¼ì„¸ìš” + í…Œë¼ìŠ¤ ^^,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™
25,29190666,ì›”ì„¸,2000,45,23.14,5,ì˜¥íƒ‘ë°©,â˜â˜ ë‚˜í˜¼ì ì˜¥íƒ‘ !!! ë¦¬ëª¨ë¸ë§í•œ í’€ì˜µì…˜ ì›ë£¸,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™
34,29260020,ì›”ì„¸,100,70,46.28,6,ì¤‘,ğŸ›‘ê¹œë†€ì£¼ì˜ğŸ›‘ì–‘ì¬ì—­ ì¸ê·¼ ë‹¨ê¸°ë°© ìµœì €ê°€,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™
35,29265347,ì›”ì„¸,70,70,39.67,6,ê³,ğŸ’›ì‹¤ê°€ê²©ğŸ§¡No.1ğŸ’šê°•ë‚¨ğŸ’œê°œí¬ë™ ìœ ì¼ ë‹¨ê¸°í’€ì˜µì…˜,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™
36,29292587,ì›”ì„¸,100,75,33.06,6,ê³,ì‚¼í˜¸ë¬¼ì‚° ì‚¬ê±°ë¦¬ í’€ì˜µì…˜ ë‹¨ê¸°ì›ë£¸,ì„œìš¸ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™